.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 100%;
    margin: 30px;
    margin-top: 45px;
    padding: 25px;
    min-width: 100px;
    color: whitesmoke;
    z-index: 1;
    border-radius: 7px;
background: #1A1A1B;
box-shadow:  20px 20px 60px #0e0e0e,
             -20px -20px 60px #262628;
    
}

@media screen and (max-width: 600px) {
    .product{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        max-height: 100%;
        margin: 10px;
        margin-top: 30px;
        padding: 25px;
        min-width: 100px;
        color: whitesmoke;
        z-index: 1;
        border-radius: 7px;
    background: #1A1A1B;
    box-shadow:  20px 20px 60px #0e0e0e,
                 -20px -20px 60px #262628;
        
    }
}



.product > img {
    max-height: 200px;
    width:100%;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 15px;
}

.product__button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #FF4141;
    border: 1px solid black;
    color: aliceblue;
}

.product__info{
    width: 100%;
    padding: 10px;
}