.checkoutProduct{
    display: flex;
    border-radius: 7px;
background: #1A1A1B;
box-shadow:  20px 20px 60px #0e0e0e,
             -20px -20px 60px #262628;
    max-width:80%;
    margin-top:30px;
    margin-bottom:20px;
    align-items: center;
    padding: 20px;
}
.checkoutProductDetails{
    margin-left: 20px;
}
.checkoutProduct__image{
    width:20vw;
    object-fit: contain;
}

.checkoutProduct_info{
    padding-left: 20px;
}

.product__button {
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 20px;
    padding:
     5px;
}

@media screen and (max-width: 800px){
    .checkoutProduct{
        display: flex;
        border-radius: 7px;
    background: #1A1A1B;
    box-shadow:  20px 20px 60px #0e0e0e,
                 -20px -20px 60px #262628;
        max-width:90%;
        margin-top:30px;
        margin-bottom:20px;
        align-items: center;
        padding: 20px;
    }
    .product__button {
        border: 1px solid black;
        margin-bottom: 10px;
        margin-top: 20px;
        padding:
         2px;
    }
}

