.checkoutProduct{
    display: flex;

    max-width:60vw;
    margin-top:20px;
    margin-bottom:20px;
    align-items: center;
}
.checkoutProductDetails{
    margin-left: 20px;
}
.checkoutProduct__image{
    width:20vw;
    object-fit: contain;
}

.checkoutProduct_info{
    padding-left: 20px;
}

.checkoutProduct__info> button {
    border: 1px solid black;
    margin: 10px;
    padding:
     5px;
}