.checkout{
    display: flex;
    height: max-content;
    margin-top: 5%;
    padding: 20px;
    background-color: #1B262C;
    color: whitesmoke;
}

@media screen and (max-width: 800px) {
    .checkout{
        display: flex;
        flex-direction: column;
        flex:1;
        
        margin-top: 15%;
        padding: 20px;
        background-color: #1B262C;
        color: whitesmoke; 
        width: 100vw;   
    }

    .checkout__title{
        font-size: x-large;
    }
    .checkout__left{
        min-width: 100vw !important;  
        
    }
    
    .checkout__right{
        margin-top: 20px;
        max-width: 100vw;       
    }
}


.checkout__left{
    min-width: 60vw;
    max-width: 60vw;
}
.checkout__title{
    margin-right: 20px;
    border-bottom: 1px solid black;
}