/* .header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index:100;
    justify-content: space-evenly;
} */


.brandLogo{
    width: 50px;
    object-fit: contain;
}

a:link {
    text-decoration: none;
  }


.brandText{
    font-size: 24px;
    margin-left: 10px;
    position: relative;
    top: 5px;
    
}

.search__icon{
    color: aliceblue;
    margin-left:5px;
}

/* .header__search{
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 24px;
}
.header__searchInput{
    height: 10px;
    width: 100%;
    padding: 5px;
    border: none;    
} */

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: aliceblue;
}
.shoppingCart__icon{
    color: hsl(208, 100%, 97%);
    margin-left:5px;
    position: relative;
    bottom: 3px;
}


.header__optionLineTwo{
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
   margin: 10px;
}
/* .header__optionBasket{
    display: flex;
    align-items: center;
    margin-top: 5px;
} */
.header__basketCount{
    margin-left: 10px;
    text-underline-offset: none;
  
    /* margin-right: 10px;
    margin-top: 5px;
    margin-bottom: px; */
}
